extends layout

block content
  h1 Books
  p 
    a.button(href='/books/new') Create New Book
    if (q)
      a.button(href='/books') Back to Books List
      
    table 
      thead 
        tr 
          th id 
          th Title 
          th Author 
          th Genre 
          th Year 
      tbody
        each book in books
         tr 
          td #{book.id}
          td
            a(href=`/books/${book.id}`) #{book.title}
          td #{book.author}
          td #{book.genre}
          td #{book.year}
    p.pagination                
      - let i = 0;
      while i < numOfPages
        if(q)
          a(class="pagination-button" href=`/books/search?q=${q}&page=${++ i}`) #{ i }
        else
          a(class="pagination-button" href=`/books?page=${++ i}`) #{i}